body {
  width: 100%;
  margin: 0 auto;
  font-family: "Noto Serif JP", serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #412408;
}

img {
  max-width: 100%;
  width: 100%;
  vertical-align: bottom;
}

/* div {
  border: 1px solid red;
} */

/*main*/

/* pc-contents */
.pc-contents {
  width: calc((100vw - 440px)/2);
  height: 100vh;
  position: fixed;
  margin: 0 auto;
  background-image: linear-gradient(#ffffff, #fbf3e7 13%);
}

/* pc-contents--left */
.left-menu {
  width: auto;
  height: 10vh;
}

.left-menu img {
  height: 100%;
  width: auto;
}

.pc-contents--left {
  left: 0;
  text-align: center;
}

.left-wrapper {
  position: relative;
  height: 100vh;
}

.left-menu-list {
  margin: 0 20px;
}

.left-menu-contents {
  display: flex;
  justify-content: space-between;
  height: 18vh;
}

.left-menu-contents--two {
  width: calc((100%/3)*2);
  margin: 0 auto;
}

.left-menu-contents--title {
  height: 30%;
  width: auto;
  text-align: center;
}

.left-menu-contents--title img {
  width: auto;
  height: 32px;
}

.left-menu-contents--icon {
  height: 70%;
  width: auto;
  margin-bottom: 10px;
  display: block;
}

.left-menu-contents--icon img {
  max-height: 100%;
  width: auto;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.left-menu-contents--icon img:hover {
  transform: scale(1.2);
  transform-origin: center;
}

.purchase {
  height: 10vh;
  width: auto;
  position: absolute;
  top: 85vh;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px auto;
}

.purchase-button {
  max-height: 100%;
}

.towel {
  width: 20%;
  position: absolute;
  left: -5%;
  bottom: 70%;
  z-index: 5;
}

/* pc-contents--right */
.pc-contents--right {
  right: 0;
}

.right-nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

.right-nav li {
  margin-right: 20px;
  font-family: "Nothing You Could Do", cursive;
}

.right-nav a:hover {
  color: #E6903E;
}

.right-images {
  animation: floating-x 7.2s ease-in-out infinite alternate-reverse;
  position: relative;
  margin-bottom: 24px;
  height: 80vh;
}

.right-image {
  position: absolute;
}

.right-image-1 {
  top: -5%;
  left: 5%;
  width: 50%;
}

.right-image-2 {
  top: 10%;
  left: 50%;
  width: 50%;
}

.right-image-3 {
  top: 35%;
  left: 15%;
  width: 35%;
}

.right-image-4 {
  top: 30%;
  right: -5%;
  width: 80%;
}

.right-image-5 {
  top: 53%;
  left: 0;
  width: 50%;
}

.right-image-6 {
  top: 65%;
  left: 40%;
  width: 50%;
}

.right-image-7 {
  top: 80%;
  right: -10%;
  width: 40%;
}

.right-image-8 {
  top: 90%;
  left: 5%;
  width: 50%;
}

@media(max-width: 1279px) {

  .left-wrapper,
  .right-wrapper {
    display: none;
  }
}

@media (max-width: 440px) {
  .pc-contents {
    display: none;
  }
}

/* scroll-contents */
.scroll-contents {
  width: 440px;
  margin: 0 auto;
  position: relative;
  /* height: 100vh;
  overflow-y: auto; */
  min-height: 120vh;
}

/* mv */
.logo {
  width: 15%;
  margin: 12px auto 6px;

  z-index: 5;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
}

.mv {
  position: relative;
  height: 100vh;
  background-image: url(../img/mv-one.jpg);
  background-position: bottom right 18%;
  background-size: auto 90%;
  vertical-align: bottom;
}

/* .mv h1 {
  z-index: 5;
  position: relative;
} */

.mv--wood-bg {
  position: absolute;
  top: -5%;
  z-index: 1;
  /* height: 300px; */
  height: 35%;
  width: 100%;
}

.mv--wood-bg img {
  /* height: 270px; */
  height: 100%;
  width: 100%;
}

.mv--main-copy {
  text-align: center;
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;

  height: 20vh;
  width: 100%;
}

.mv--main-copy h2 {
  /* font-size: 20px; */
  font-size: clamp(10px, 5vh, 18px);
  line-height: 1.5;
  text-align: center;

}

.mv--main-copy span {
  color: #951515;
  /* font-size: 28px; */
  font-size: clamp(14px, 5vh, 24px);
  line-height: 1.2;
  text-align: center;
}

.mv--merit {
  width: 40%;
  position: absolute;
  /* top: 270px; */
  top: 35%;
}

.mv--products {
  width: 42%;
  position: absolute;
  bottom: 5%;
}

.mv--emblem {
  width: 50%;
  position: absolute;
  bottom: 150px;
  right: 1%;
}

.mv--price {
  font-family: "Noto Sans JP", sans-serif;
  background-color: rgba(255, 213, 48, 0.7);
  display: inline-block;
  padding: 10px 20px;
  position: absolute;
  bottom: 40px;
  right: 2%;
}

.mv--price p {
  font-size: 20px;
  color: #FFFDFD;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  line-height: 1;
}

.mv--price span {
  font-size: 36px;
  color: #FFFDFD;
  text-shadow: 4px 3px 0px #E25003;
}

.mv--steam {
  width: 40%;
  transform: rotate(-5deg);
  position: absolute;
  top: 10%;
  right: 14%;
  z-index: 2;
}

/* 共通 */
.section-title {
  width: 100%;
  text-align: center;
  background-color: #fff;
}

.section-title img {
  width: auto;
  height: 70px;
}

/* worry */
.worry {
  margin-bottom: 64px;
}

/* about */
.about {
  background-image: url(../img/about-bg.png);
  background-position: bottom;
  background-size: 100%;
  vertical-align: bottom;
  position: relative;
}

.about-contents {
  position: relative;
  height: 600px;
  width: 90%;
  margin: 0 auto;
}

.about-image {
  width: 50%;
  animation: about-floating 1.8s ease-in-out infinite alternate-reverse;
  position: absolute;
}

.about-image:hover {
  animation-play-state: paused;
}

.about-image img {
  transition: transform 0.3s ease;
}

.about-image img:hover {
  transform: scale(1.2);
}

.about-image-1 {
  top: 0;
  left: 0;
  width: 50%
}

.about-image-2 {
  top: 20%;
  right: -5%;
  width: 60%
}

.about-image-3 {
  top: 38%;
  left: 15%;
  width: 50%
}

.about-image-4 {
  top: 55%;
  left: -5%;
  width: 40%
}

.about-image-5 {
  top: 65%;
  right: 10%;
  width: 60%
}

@keyframes about-floating {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(12px);
  }
}

.about-bottom-border {
  position: absolute;
  top: 92%;
}

/* feature */
.feature {
  z-index: -1;
}

/* relax */

/* scene */
.scene {
  background-color: #FBF3E7;
}

.scene-title {
  width: 70%;
  margin: auto;
  padding-top: 50px;
}

.scene-slide-items {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 80%;
  margin: 10px auto;
}

.scene-slide-items li {
  height: auto;
  margin: 0 10px;
}

.scene-slide-items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-adjustment {
  height: 20px;
  width: auto;
}

.slick-prev:before,
.slick-next:before {
  color: #E2B68D;
}

.slick-dots {
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 440px) {
  .scroll-contents {
    width: 100%;
  }
}

/* comparison */
.comparison {
  margin: 24px 0 56px;
}

/* set */
.set {
  position: relative;
  background-color: #97886B;
  padding: 16px 24px;
}

.set-title {
  color: #fff;
  text-align: center;
}

.set-contents {
  width: 80%;
  margin: 24px auto;
}

.set-accordion {
  max-width: 100%;
  background-color: #fff;
}

.set-accordion-item {
  text-align: center;
  padding: 10px 0;
  color: #333;
  display: block;
  text-decoration: none;
}

.set-accordion-header {
  color: #E7913E;
  font-family: "Noto sans JP";
  display: block;
  width: 80%;
  border: 1px solid #E7913E;
  background-color: #fff;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
}

.set-accordion-header span {
  display: block;
  cursor: pointer;
}

.set-accordion-header span::before,
.set-accordion-header span::after {
  position: absolute;
  content: '';
  top: 1px;
  right: 20px;
  bottom: 0;
  width: 12px;
  height: 2px;
  margin: auto;
  background: #E7913E;
  transition: transform 0.3s;
}

.set-accordion-header span::after {
  transform: rotate(-90deg);
}

.set-accordion-item.active .set-accordion-header span::after {
  transform: rotate(0deg) scaleX(0);
}

.set-accordion-inner a {
  color: #E7913E;
  font-family: "Noto sans JP";
  display: block;
  cursor: pointer;
}

.set-accordion-contents {
  display: none;
}

.set-price {
  width: 80%;
  margin: 0 auto;
}

/* movie */
.movie {
  margin-bottom: 80px;
}

.movie-slide-items {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 80%;
  margin: 10px auto;
}

.movie-slide-items li {
  height: auto;
  margin: 0 10px;
}

.movie-slide-items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* voice */
.voice {
  background-color: #FBF3E7;
  padding: 24px;
}

.voice .section-title {
  background-color: #FBF3E7;
}

.voice-slide-items {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 80%;
  margin: 10px auto;
}

.voice-slide-items li {
  height: auto;
  margin: 0 10px;
}

.voice-slide-items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* faq */
.faq {
  padding: 24px 0;
}

.faq-accordion-item {
  width: 90%;
  border-bottom: 1px solid #D9D9D9;
  background-color: white;
  margin: 0 auto 10px;
}

.faq-accordion-header {
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #333;
  position: relative;
}

.faq-accordion-header img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

/* .faq-accordion-header::before, */
.faq-accordion-header::after {
  border-right: solid 2px #333;
  border-top: solid 2px #333;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  top: 38%;
  right: 20px;
  transform: rotate(135deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  width: 8px;
}

.faq-accordion-header.active::after {
  top: 45%;
  transform: rotate(-45deg);
}

.faq-accordion-inner {
  display: none;
  padding: 15px;
  border-radius: 0 0 10px 10px;
  background-color: #EFEEEE;
}

.faq-accordion-header span,
.faq-accordion-inner span {
  display: block;
  padding: 0 2em;
  position: relative;
}

.faq-accordion-header span::before {
  position: absolute;
  content: "F";
  border: 1px solid #734220;
  border-radius: 50%;
  background-color: #734220;
  width: 1.5em;
  height: 1.5em;
  top: 0;
  left: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-accordion-inner span::before {
  position: absolute;
  content: "A";
  border: 1px solid #E6903E;
  border-radius: 50%;
  background-color: #E6903E;
  width: 1.5em;
  height: 1.5em;
  top: 0;
  left: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-accordion-content p {
  margin: 0;
}

/* page-top */
.page-top {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: auto;
}

/*footer*/
footer {
  background-image: url(../img/footer-bg.png);
  background-size: 100% 100%;
  height: 100px;
  position: relative;
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
}

.footer-nav li {
  padding: 0 8px;
  width: 12%;
}

.footer-nav img {
  display: block;
}

.footer-copy {
  font-size: 8px;
  margin: 24px 0;
  text-align: center;
}


/*# sourceMappingURL=style.css.map */